* {
  margin: 0;
  padding: 0;
}

body {
  
  /* Webbsidans bakgrundsfärg och standard textfärg */
  background-color: white;
  color: black;
  /* --- */

  font-family: sans-serif;
  font-size: 125%;
  line-height: 1.5;
  display: flex;
  min-height: 100vh;
  padding: 0 2rem;
}

article {
  margin: auto;
  width: 100%;
  max-width: 700px;
}

/* Stilar för huvudrubriken */
h1 {
  /* Textfärg */
  color: black;

  /* Textstorlek */
  font-size: 1.25rem;

  /* Text-tjocklek */
  font-weight: normal;

  /* Mellanrum upp och ner */
  margin-top: 0rem;
  margin-bottom: 0rem;
}

/* Stilar för underrubriken */
h3 {
  /* Textfärg */
  color: black;

  /* Textstorlek */
  font-size: 1.25rem;
  
  /* Text-tjocklek */
  font-weight: normal;

  /* Mellanrum upp och ner */
  margin-top: 0rem;
  margin-bottom: 0rem;
}

/* Stilar för paragraferna */
p {
  /* Mellanrum under paragraferna */
  margin-bottom: 0rem;
}

/* Stil för bilden */
img {
  /* Mellanrum ovanför bilden */
  margin-top: 0rem;

  max-width: 100%;
  border: 0;
  border-radius: 8px;
}

strong {
  font-weight: bold;
}
